לשאלות 1-3 , נתתי 2 דרכים לפתרון לכל שאלה

In [7]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import pandasql as pds

In [4]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [5]:
dm=sb.load_dataset ('diamonds')

In [6]:
dm

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [12]:
pds.sqldf("""select max(price) as MostExpensiveDiamond from dm""",globals())

   MostExpensiveDiamond
0                 18823

In [28]:
dm['price'].max()

18823

שאלה 1:מחיר היהלום הגבוה ביותר הינו 18823

In [13]:
pds.sqldf("""select avg(price) as AvgPriceDiamond from dm""",globals())

   AvgPriceDiamond
0      3932.799722

In [30]:
dm['price'].mean()

3932.799721913237

שאלה 2: ממצוע מחיר יהלום הינו 3932.79

In [14]:
pds.sqldf("""select count(cut) as CountOfIDEALType from dm where cut='Ideal'""",globals())

   CountOfIDEALType
0             21551

In [66]:
dm[dm['cut'] == 'Ideal']['cut'].count()

21551

שאלה 3: סך כמות יהלומים מסוג Ideal

In [58]:
A=dm['color'].unique()
print("Type Of Colors",A),print("Count of type colors",len(A))

Type Of Colors ['E', 'I', 'J', 'H', 'F', 'G', 'D']
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']
Count of type colors 7

(None, None)

שורה 58>תשובה לשאלה 4

In [64]:
dm[dm['cut'] == 'Premium']['carat'].median()

0.86

הינו 0.86 Premium שאלה 5: חציון קארט מסוג

In [10]:
dm1.groupby('cut')['carat'].mean()

C:\Users\אורי\AppData\Local\Temp\ipykernel_27260\1660390453.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dm1.groupby('cut')['carat'].mean()

cut
Ideal        0.702837
Premium      0.891955
Very Good    0.806381
Good         0.849185
Fair         1.046137
Name: carat, dtype: float64

שאלה6: ממוצע קארט לכל סוג חיתוך

In [12]:
dm1.groupby('color')['price'].mean()

C:\Users\אורי\AppData\Local\Temp\ipykernel_27260\2268052037.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dm1.groupby('color')['price'].mean()

color
D    3169.954096
E    3076.752475
F    3724.886397
G    3999.135671
H    4486.669196
I    5091.874954
J    5323.818020
Name: price, dtype: float64

שאלה 7: ממוצע מחיר לפי סוג צבע יהלום